body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

nav {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: yellow;
}

h1 {
  text-align: center;
}

article {
  background: white;
  width: 250px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}